.btn-primary {
  padding: 5px 15px;
  background-image: linear-gradient(
    to right,
    #000000,
    #000000,
    #f9f9f92f,
    #000000cb
  );
  font-weight: 600;
  color: #ffffff;
  cursor: pointer;
  text-align: center;
  border: none;
  background-size: 300% 100%;
  moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.btn-primary:hover {
  transition: 0.5s all;
  color: #fff;
  background-color: rgba(255, 255, 255, 0.88);
  background-position: 150% 0;
  moz-transition: all 0.6s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.6s ease-in-out;
}

.btn-primary-outline {
  border-image-slice: 1;
  border-width: 1px;
  border-image-source: linear-gradient(to right, #ffffff, #212121);
  background: linear-gradient(to right, #ffffff, #212121);
  transition: all 0.4s ease-in-out;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  &:hover {
    color: #fff;
    background-image: linear-gradient(
      45deg,
      var(--m4u-clr-secondary),
      var(--m4u-clr-primary)
    );
    transition: all 0.4s ease-in-out;
    border-image-source: linear-gradient(
      45deg,
      var(--m4u-clr-secondary),
      var(--m4u-clr-primary)
    );
    -webkit-background-clip: inherit;
    -webkit-text-fill-color: inherit;
    color: #fff;
    background-position: 100% 0;
    moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
  }
}

.btn-outline {
  padding: 10px 15px;

  border: 1px solid #eee;
  transition: all 0.4s ease-in-out;
  &:hover {
    border: 1px solid #eee;
    color: #fff;
    transition: all 0.4s ease-in-out;
    background-image: linear-gradient(to right, rgb(201, 75, 75), white);
    border-image-source: linear-gradient(to right, black, white);
  }
}
.btn-cancel {
  background-color: #fff;
  border: 1px solid #eee;
  &:hover {
    background-color: #eee;
  }
}
.btn-secondary {
  padding: 5px 15px;
  background-image: linear-gradient(
    to right,
    #8b5cf6,
    #10b981,
    #1e3a8a,
    #8b5cf6
  );

  font-weight: 600;
  color: #ffffff;
  cursor: pointer;

  text-align: center;
  border: none;
  background-size: 300% 100%;

  moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.btn-secondary:hover {
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.88);
  background-position: 150% 0;
  moz-transition: all 0.6s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.6s ease-in-out;
}

.text-primary {
  color: #10b981;
}
